Repository thecorecity/cognitum, pull requests merged in 2020-07, with the labels that each got.

#18 ESlint configuration changes, applying eslint for several files
  .editorconfig
  .eslintrc.json
  .vscode/launch.json
  config/auth.example.json
  config/config.example.json
  lang/en.json
  lang/ru.json
  lang/sk.json
  lang/ua.json
  lib/categories/BaseCategory.js
  lib/categories/CoreCategory.js
  lib/classes/Bot.js
  lib/classes/CommandsRegistry.js
  lib/classes/Config.js
  lib/classes/Database.js
  lib/classes/Lang.js
  lib/classes/LanguagePack.js
  lib/classes/MessageParser.js
  lib/classes/Utils.js
  lib/classes/embed/DefaultEmbed.js
  lib/classes/embed/ErrorEmbed.js
  lib/commands/BaseCommand.js
  lib/commands/basic/AboutCommand.js
  lib/commands/basic/HelpCommand.js
  lib/database/models/BaseModel.js
  lib/database/models/Guild.js
  lib/database/models/GuildChannel.js
  lib/database/models/GuildMember.js
  lib/database/models/User.js
  lib/schemas/auth.schema.json
  lib/schemas/config.schema.json
  lib/schemas/language.schema.json
  package-lock.json
  package.json
Labels: configuration

#19 Initial command validation method on BaseCommand, basic ping command implementation
  lib/classes/CommandsRegistry.js
  lib/classes/Lang.js
  lib/classes/MessageParser.js
  lib/classes/embed/ErrorEmbed.js
  lib/classes/errors/BaseError.js
  lib/commands/BaseCommand.js
  lib/commands/basic/PingCommand.js
Labels: command

#20 Ping command implementation
  lang/en.json
  lib/classes/Bot.js
  lib/classes/Lang.js
  lib/classes/Utils.js
  lib/commands/basic/PingCommand.js
Labels: command

#23 Temporary database configuration
  .editorconfig
  config/.gitignore
  config/auth.example.json
  config/db.example.json
  lib/classes/Database.js
  lib/database/models/BaseModel.js
  lib/schemas/db.schema.json
  package-lock.json
  package.json
Labels: database

#25 Checking for correct commands settings on initialization
  lib/classes/CommandsRegistry.js
  lib/commands/BaseCommand.js
  lib/commands/basic/PingCommand.js
Labels: bug, command

#26 Text lists classes
  lib/classes/Utils.js
  lib/classes/content/BulletedList.js
  lib/classes/content/OrderedList.js
  lib/commands/basic/AboutCommand.js
Labels: enhancement

#27 Language packs version
  lang/ru.json
  lang/sk.json
  lang/ua.json
Labels: localization

#29 Command context class
  lib/classes/CommandContext.js
  lib/classes/MessageParser.js
  lib/classes/embed/DefaultEmbed.js
  lib/classes/embed/ErrorEmbed.js
  lib/commands/BaseCommand.js
  lib/commands/basic/AboutCommand.js
  lib/commands/basic/HelpCommand.js
  lib/commands/basic/PingCommand.js
Labels: command, enhancement

#31 Sequelize migrations
  .sequelizerc
  .vscode/settings.json
  config/.confignore
  config/.default/auth.json
  config/.default/db.json
  config/.default/preferences.json
  config/.default/sequelize.js
  config/.gitignore
  config/auth.example.json
  lib/classes/Bot.js
  lib/classes/Config.js
  lib/classes/ConfigManager.js
  lib/classes/Database.js
  lib/classes/embed/DefaultEmbed.js
  lib/classes/embed/ErrorEmbed.js
  lib/database/migrations/20200713184953-create-guild-table.js
  lib/database/migrations/20200713205208-create-channel-table.js
  lib/database/migrations/20200713211830-create-user-table.js
  lib/database/migrations/20200713212604-create-member-table.js
  lib/database/migrations/20200713214514-create-message-table.js
  lib/database/migrations/20200713220251-create-voice-table.js
  lib/database/migrations/20200719100045-create-doc-table.js
  lib/database/models/Document.js
  lib/database/models/Guild.js
  lib/database/models/GuildChannel.js
  lib/database/models/GuildMember.js
  lib/database/models/MessageStatistics.js
  lib/database/models/User.js
  lib/database/models/VoiceStatistics.js
  lib/schemas/preferences.schema.json
  package-lock.json
  package.json
Labels: database, enhancement, work-in-progress

#36 Init scripts. Dev database
  init/devdb-init.js
  package-lock.json
  package.json
Labels: database

#37 Using dev dbtype for development purposes instead of sqlite
  config/.default/db.json
  lib/classes/Database.js
  lib/schemas/db.schema.json
  package.json
Labels: database

#38 Command system upgrades
  jsconfig.json
  lang/en.json
  lib/categories/GuildCategory.js
  lib/classes/MessageParser.js
  lib/classes/errors/ArgumentError.js
  lib/classes/errors/BaseError.js
  lib/classes/errors/BotPermissionError.js
  lib/classes/errors/CallerPermissionError.js
  lib/classes/validation/CommandContextValidator.js
  lib/classes/validation/Validators.js
  lib/commands/BaseCommand.js
  lib/commands/guild/PrefixCommand.js
  lib/types/ArgumentErrorType.js
  lib/types/ArgumentsLengthValidationMode.js
  lib/types/CommandArgumentsOptions.js
  lib/types/ContextValidatorOptions.js
  package-lock.json
Labels: command, enhancement, work-in-progress

#41 HelpCommand: Detailed command information handling
  lang/en.json
  lib/classes/Utils.js
  lib/commands/BaseCommand.js
  lib/commands/basic/HelpCommand.js
  lib/commands/guild/PrefixCommand.js
Labels: command
