Repository thecorecity/cognitum, pull requests merged in 2020-11, with the labels that each got.

#47 Latest changes from dev
  .babelrc.json
  .eslintrc.json
  lang/en.json
  lib/categories/BaseCategory.js
  lib/categories/CoreCategory.js
  lib/categories/GuildCategory.js
  lib/categories/UtilsCategory.js
  lib/classes/Bot.js
  lib/classes/CommandsRegistry.js
  lib/classes/Database.js
  lib/classes/Lang.js
  lib/classes/MessageParser.js
  lib/classes/base/BaseCategory.js
  lib/classes/base/BaseCommand.js
  lib/classes/base/BaseError.js
  lib/classes/base/BaseModel.js
  lib/classes/base/BaseTask.js
  lib/classes/embed/DirectMessageEmbed.js
  lib/classes/errors/ArgumentError.js
  lib/classes/errors/CallerPermissionError.js
  lib/classes/errors/TimeStringError.js
  lib/classes/tasks/TaskLoader.js
  lib/classes/tasks/TasksQueue.js
  lib/classes/tasks/commands/ReminderTask.js
  lib/commands/basic/AboutCommand.js
  lib/commands/basic/HelpCommand.js
  lib/commands/basic/PingCommand.js
  lib/commands/guild/LogSettingsCommand.js
  lib/commands/guild/PrefixCommand.js
  lib/commands/guild/VoiceMergeCommand.js
  lib/commands/guild/WelcomeCommand.js
  lib/commands/utils/RemindCommand.js
  lib/database/migrations/20201031204520-create-task-table.js
  lib/database/models/Document.js
  lib/database/models/Guild.js
  lib/database/models/GuildChannel.js
  lib/database/models/GuildMember.js
  lib/database/models/MessageStatistics.js
  lib/database/models/Task.js
  lib/database/models/User.js
  lib/database/models/VoiceStatistics.js
  lib/schemas/language.schema.json
  lib/types/types.d.ts
  package-lock.json
  package.json
Labels: Feature-Others, Status-InProgress, Target-Command, Target-Database, Type-Enhancement

#50 Statistics commands and other improvements
  index.js
  jsconfig.json
  lang/en.json
  lang/ru.json
  lang/sk.json
  lang/ua.json
  lib/categories/StatisticsCategory.js
  lib/classes/Bot.js
  lib/classes/ConfigManager.js
  lib/classes/Database.js
  lib/classes/MessageParser.js
  lib/classes/Utils.js
  lib/classes/VoiceStateManager.js
  lib/classes/base/BaseCommand.js
  lib/classes/base/BaseTask.js
  lib/classes/commands/CommandContext.js
  lib/classes/content/OrderedList.js
  lib/classes/localization/Lang.js
  lib/classes/localization/LanguagePack.js
  lib/classes/statistics/StatisticsManager.js
  lib/classes/tasks/TasksQueue.js
  lib/classes/validation/Validators.js
  lib/commands/basic/LanguageCommand.js
  lib/commands/stats/ProfileCommand.js
  lib/commands/stats/TopCommand.js
  lib/database/migrations/20200713214514-create-message-table.js
  lib/database/models/MessageStatisticsModel.js
  lib/database/models/UserModel.js
  lib/database/models/VoiceStatisticsModel.js
  lib/types/types.d.ts
Labels: Feature-Statistics

#53 EN localization fix
  lang/en.json
Labels: Target-Localization

#51 RU localization update
  lang/ru.json
Labels: Target-Localization

#52 UA localization update
  lang/ua.json
Labels: Target-Localization

#54 Logging feature and other changes
  index.js
  lang/en.json
  lang/ru.json
  lang/sk.json
  lang/ua.json
  lib/classes/Bot.js
  lib/classes/CognitumClient.js
  lib/classes/CognitumShardingManager.js
  lib/classes/Database.js
  lib/classes/LogsProcessor.js
  lib/classes/MessageProcessor.js
  lib/classes/Utils.js
  lib/classes/base/BaseCategory.js
  lib/classes/base/BaseDiscordModule.js
  lib/classes/commands/CommandsRegistry.js
  lib/classes/commands/MessageParser.js
  lib/classes/embed/DefaultEmbed.js
  lib/classes/embed/DirectMessageEmbed.js
  lib/classes/embed/ErrorEmbed.js
  lib/classes/errors/TimeStringError.js
  lib/classes/statistics/StatisticsManager.js
  lib/classes/statistics/VoiceStateManager.js
  lib/classes/tasks/TaskLoader.js
  lib/classes/tasks/TasksQueue.js
  lib/classes/tasks/commands/ReminderTask.js
  lib/classes/tasks/internal/MonitoringStatsTask.js
  lib/commands/basic/PingCommand.js
  lib/commands/stats/ProfileCommand.js
  lib/commands/stats/TopCommand.js
  lib/commands/utils/RemindCommand.js
  lib/schemas/language.schema.json
  lib/types/types.d.ts
  package-lock.json
  package.json
  shard.js
Labels: Feature-Logs, Feature-Statistics, Type-Enhancement
